# Example env for apps/api
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=acustica-sounds
JWT_SECRET=change_me_access
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_me_refresh
JWT_REFRESH_EXPIRES_IN=7d
PORT=3001
E2E_MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/acustica-sounds-test?retryWrites=true&w=majority
