# Example env for apps/api
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/acustica-sounds?retryWrites=true&w=majority
NEXTAUTH_SECRET=change_this
MUX_TOKEN_ID=your_mux_token_id
MUX_TOKEN_SECRET=your_mux_token_secret

PORT=3001
